@{
    ViewBag.Title = "About";
}
<h1>About this website</h1>

<p>This is an interesting website for young writers to practice writing. First of all, the author needs to design many completely different characters such as identity, age and story background. Then, ask your friends to choose several characters and ask the author to write a story between them. Before friends choose a role, they should only know the basic information and identity of the role, but not the character of the role. Therefore, this choice is completely based on the interests of friends. The author must face all possible story challenges!</p>


